<%- include('header'); -%>
<% if (locals.alert) { %><div class="alert"></div><b><%=alert%></b></div><br><% } %>





<form action="/passager/profile/update" method="post">
    <div>
        <span>
        <input type="radio" id="iconeNumber" name="iconeNumber" value="1">
        <img class='nonIcoDonateur' src='/img/profileico/1.png' alt='Icone Défault' >
        </span>
        <span>
        <input type="radio" id="iconeNumber" name="iconeNumber" value="2">
        <img class='nonIcoDonateur' src='/img/profileico/2.png' alt='Icone Défault' >
        </span>
        <span>
        <input type="radio" id="iconeNumber" name="iconeNumber" value="3">
        <img class='nonIcoDonateur' src='/img/profileico/3.png' alt='Icone Défault' >
        </span>
        <span>
        <input type="radio" id="iconeNumber" name="iconeNumber" value="4">
        <img class='nonIcoDonateur' src='/img/profileico/4.png' alt='Icone Défault' >
        </span>
        <span>
        <input type="radio" id="iconeNumber" name="iconeNumber" value="5">
        <img class='nonIcoDonateur' src='/img/profileico/5.png' alt='Icone Défault' >
        </span>
    </div>
    <div>
        <label for="username">Username :</label>
        <input type="texte" id="username" name="username" placeholder="<% if (locals.username) { %><%=username%><% } %>">
    </div>
    <div>
        <label for="email">Email :</label>
        <input type="email" id="email" name="email" placeholder ="<% if (locals.email) { %><%=email%><% } %>">
    </div>
    <div>
        <label for="password">Mot de passe:</label>
        <input type="password" id="password" name="password" placeholder="**********">
    </div>
    <div></div>

   
    <%if (locals.isSub == true) { %>
        <input type="checkbox" id="isSub" name="isSub" checked>
        <% } 
        else{
        %>
        <input type="checkbox" id="isSub" name="isSub">
        <%}%>
    

    <label for="isSub"> Newsletter</label><br>
    Donateur : <% if (locals.isDonateur) { %><%=isDonateur%><% }else{%>0<%} %><br>
</div>
    <div class="button">
        <button type="submit">Modifier</button>
        
    </div>
</form>



<form action="/passager/deconnexion" method="post">
    <div class="button">
        <button type="submit">Déconnexion</button>
    </div>
</form>
<a href="/passager/authentification">Connexion</a><br>
<a href="/passager/enregistrement">Inscription</a><br>
<a href="/passager/vote">Vote</a><br>
<a href="/accueil">Accueil</a><br>