<%- include('include-prehead'); -%>
<link rel="stylesheet" type="text/css" href="/css/globalauth.css">
<link rel="stylesheet" type="text/css" href="/css/profile.css">
<title>Profile</title>
<%- include('include-posthead'); -%>
<! --=====================================================================-->
    <div class="mainDiv">
        <div id="colonne1" class="part part1 ">
            <div class="topDiv">
                <h1 id="colonneh1"></h1>
                <h2 id="colonneh2">Modifiez votre grade et votre profil</h2>
                <div id="colonnediv"></div>
                <p id="colonnep">Vous soutenez le projet en devenant commandant du vaisseau gratuitement.</p>
            </div>
            <div class="bottomDiv">
                
                <div id="colonnecard1" class=" card">
                    <img class="astronauteCard" src="/img/connexion/ico1.png">
                    <div class="texteCard1">
                        <h1>Astronaute</h1>
                        <p>Devenez un véritable membre de l’équipage.<br>- Accès aux votes.<br> - Inscription newsletter
                        </p>
                    </div>
                </div>
                <div id="colonnecard2" class="card">
                    <img class="commandantCard" src="/img/connexion/ico2.png">
                    <div class="texteCard2">
                        <h1>Commandant</h1>
                        <p>Devenez un membre important de l’équipage.<br> - Les fonctionalitées d'Astronaute<br> - Accès aux commentaires<br> - Votre vote compte double
                        </p>
                    </div>
               
                </div>
                <div id="colonne1btn" class="btncommandantprofile">
                    <%if(locals.isDonateur == false){%>
                    <form  action="/passager/gradeup" method="post">
                    <button class="btndonateur" type="submit">Devenir Commandant</button>
                    </form><%}else{%>
                    <form action="/passager/gradeup" method="post">
                    <button class="btndonateur" type="submit">Redevenir Passager</button>
                    </form><%}%>

                    <form action="/passager/deconnexion" method="post">
                        <button class="btnsub" type="submit">Déconnexion</button>
                    </form></div>
                
                   
                


            </div>
        </div>

        <div id="colonne2" class="part part2">
            <%- include('includeP-Profile'); -%>
                </div>
            </div>
            <div class="barreinferieur">
                <%- include('include-barrelat'); -%>
            </div>

        <div class="btnmobile">
                <%if(locals.isDonateur == false){%>
                <form  action="/passager/gradeup" method="post">
                <button class="btnfull" type="submit">Devenir Commandant</button>
                </form><%}else{%>
                <form action="/passager/gradeup" method="post">
                <button class="btnfull" type="submit">Redevenir Passager</button>
                </form><%}%>

                <form action="/passager/deconnexion" method="post">
                    <button class="btndeco" type="submit">Déconnexion</button>
                </form></div>

        <script>
                window.onload = function () {

                    // Définitions des éléments

                    gsap.fromTo("#colonne1", { opacity: 0, y: -200 }, { duration: 1, opacity: 1, y: 0 });
                    gsap.to("#colonneh1", { duration: 1, opacity: 1, delay: 0.3 });
                    gsap.to("#colonneh2", { duration: 1, opacity: 1, delay: 0.5 });
                    gsap.to("#colonnediv", { duration: 1, opacity: 1, delay: 0.7 });
                    gsap.to("#colonnep", { duration: 1, opacity: 1, delay: 1 });
                    gsap.to("#colonnecard1", { duration: 1, opacity: 1, delay: 1.2 });
                    gsap.to("#colonnecard2", { duration: 1, opacity: 1, delay: 1.4 });
                    gsap.to("#colonne2", { duration: 1, opacity: 1, delay: 0.5 });
                    gsap.to("#colonne1btn", { duration: 1, opacity: 1, delay: 1.6});
                    gsap.to('#colonneh1', 2, { text: "votre pass", ease: "rough({ template: none.out, strength: 1, points: 20, taper: 'none', randomize: true, clamp: false})".easeIn, delay: 0.5 });
                }
            </script>

            <! --=====================================================================-->
                <%- include('include-endpage'); -%>