<%- include('include-prehead'); -%>
<link rel="stylesheet" type="text/css" href="/css/vote.css">
<title>Vote</title>
<%- include('include-posthead'); -%>
<! --=====================================================================-->
    <div class="mainDiv">
        <div class="row row1">
            <div class="lefttexteDiv">
                <h1>Vote !</h1>
                <h2>Choissisez la prochaine destination !</h2>
                <div></div>
            </div>
            <div class="righttexteDiv">
                <div></div>
                <p>Tout les mois, vous avez la possibilité de choisir notre prochaine destination.
                    Votez pour l’une des trois propositions. Si ce n’est pas déjà fait, devenez
                    commandant pour obtenir un vote double !</p>

            </div>
        </div>

        <div class="row row2">
            <% if(locals.voteisactif == true){%>
            <form class="cartevote " action="/passager/vote" method="post">

                <input type="hidden" id="vote1" name="vote1" value="1">
                <input type="hidden" id="vote2" name="vote2" value="0">
                <input type="hidden" id="vote3" name="vote3" value="0">
                <button class="btnvote" id="cvote1" type="submit">
                    <h1 class="textevote">VOTER</h1><br>
                    <h1 class="textevotenum"><% if (locals.vote1){ %><%=vote1num%><% }else{%>0<%} %> VOTES</h1>
                </button>


            </form>
            <form class="cartevote " action="/passager/vote" method="post">

                <input type="hidden" id="vote1" name="vote1" value="0">
                <input type="hidden" id="vote2" name="vote2" value="1">
                <input type="hidden" id="vote3" name="vote3" value="0">

                <button class="btnvote" id="cvote2" type="submit">
                    <h1 class="textevote">VOTER</h1><br>
                    <h1 class="textevotenum"><% if (locals.vote2){ %><%=vote2num%><% }else{%>0<%} %> VOTES</h1>
                </button>

            </form>
            <form class="cartevote" action="/passager/vote" method="post">

                <input type="hidden" id="vote1" name="vote1" value="0">
                <input type="hidden" id="vote2" name="vote2" value="0">
                <input type="hidden" id="vote3" name="vote3" value="1">

                <button class="btnvote" id="cvote3" type="submit">
                    <h1 class="textevote">VOTER</h1><br>
                    <h1 class="textevotenum"><% if (locals.vote3){ %><%=vote3num%><% }else{%>0<%} %> VOTES</h1>
                </button>

            </form>
            <%}else{%>
            <h1 class="voteinactif"> Aucun vote actuellement</h1>
            <%}%>
    </div>  
</div>
<div class="barreinferieur">
    <%- include('include-barrelat'); -%>
        </div>

        <script>
            // Animations des éléments de la page
            var cvote1 = document.getElementById('cvote1');
            cvote1.addEventListener("mouseenter", function () { hoverinequi(cvote1) });
            cvote1.addEventListener("mouseleave", function () { hoveroutequi(cvote1) });
            cvote1.style.cursor = 'pointer';

            var cvote2 = document.getElementById('cvote2');
            cvote2.addEventListener("mouseenter", function () { hoverinequi(cvote2) });
            cvote2.addEventListener("mouseleave", function () { hoveroutequi(cvote2) });
            cvote2.style.cursor = 'pointer';

            var cvote3 = document.getElementById('cvote3');
            cvote3.addEventListener("mouseenter", function () { hoverinequi(cvote3) });
            cvote3.addEventListener("mouseleave", function () { hoveroutequi(cvote3) });
            cvote3.style.cursor = 'pointer';

            function hoverinequi(btnvote) {
                Haptics.vibrate(10);
                var id = btnvote.id;
                var text1 = document.getElementById(id).children[0];
                var text2 = document.getElementById(id).children[2];
                gsap.fromTo(text1, { opacity: 0 }, { duration: 1, opacity: 1 });
                gsap.fromTo(text2, { opacity: 0 }, { duration: 1, opacity: 1, delay: 0.1 });
                gsap.fromTo(btnvote, { scale: 1 }, { duration: 1, scale: 1.07, backgroundPosition: 'center', boxShadow: '0px 150px 160px rgba(0, 0, 0, 0.16);', ease: Circ.easeOut });
            }

            function hoveroutequi(btnvote) {
                Haptics.vibrate(10);
                var id = btnvote.id;
                var text1 = document.getElementById(id).children[0];
                var text2 = document.getElementById(id).children[2];
                gsap.fromTo(text1, { opacity: 1 }, { duration: 1, opacity: 0 });
                gsap.fromTo(text2, { opacity: 1 }, { duration: 1, opacity: 0 });
                gsap.fromTo(btnvote, { scale: 1.07 }, { duration: 1, scale: 1, backgroundPosition: 'none', boxShadow: '0px 4px 6px rgba(0, 0, 0, 0.16);', ease: Circ.easeOut });

            }

            window.onload = function () {
                gsap.fromTo(".row1", { opacity: 0, y: -200 }, { duration: 1, opacity: 1, y: 0 });
                gsap.fromTo(".row2", { opacity: 0 }, { duration: 2, opacity: 1, delay: 0.5 });

            }

        </script>


<! --=====================================================================-->
<%- include('include-endpage'); -%>