<%- include('include-prehead'); -%> 
<link rel="stylesheet" type="text/css" href="/css/vote.css">
<title>Vote</title>
<%- include('include-posthead'); -%> 
<! --=====================================================================-->

<% if(locals.voteisactif == true){%>
<form action="/passager/vote" method="post">   
    <input type="hidden" id="vote1" name="vote1" value="1">
    <input type="hidden" id="vote2" name="vote2" value="0">
    <input type="hidden" id="vote3" name="vote3" value="0">
    <div class="button">
        <button type="submit">Vote1</button>
    </div>
</form>
<form action="/passager/vote" method="post">   
    <input type="hidden" id="vote1" name="vote1" value="0">
    <input type="hidden" id="vote2" name="vote2" value="1">
    <input type="hidden" id="vote3" name="vote3" value="0">
    <div class="button">
        <button type="submit">Vote2</button>
    </div>
</form>
<form action="/passager/vote" method="post">   
    <input type="hidden" id="vote1" name="vote1" value="0">
    <input type="hidden" id="vote2" name="vote2" value="0">
    <input type="hidden" id="vote3" name="vote3" value="1">
    <div class="button">
        <button type="submit">Vote3</button>
    </div>
</form>
Vote D1 -> <% if (locals.vote1) { %><%=vote1%><% } %><br>
Vote D2 -> <% if (locals.vote2) { %><%=vote2%><% } %><br>
Vote D3 -> <% if (locals.vote3) { %><%=vote3%><% } %><br>
<%}else{%>
Aucun vote actuellement
<%}%>
<a href="/passager/authentification">Connexion</a><br>
<a href="/passager/enregistrement">Inscription</a><br>
<a href="/passager/vote">Vote</a><br>
<a href="/accueil">Accueil</a><br>
 
<! --=====================================================================-->
<%- include('include-endpage'); -%> 

